
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    background-size: cover;
    height: 100vh
}

.container{
    width: 500px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid white;
    
}
.login-box{
    max-width: 450px;
    margin: auto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input{
    padding: 5px;
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    background: white;
    font-size: 13px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid black
}

#loginButton{
    background: blue;
    color: white;
    margin-left: 40%;
}

#registerButton{
    background-color: white;
    color: black;
    margin-right: 25%;
    margin-left: 20px;
}

